PORT = 
SECRET_KEY=

# development
PGUSER = 
PGPASSWORD = 
PGDATABASE = 
PGHOST = 127.0.0.1
PGDIALECT = postgres

# test
PGUSER_TEST = 
PGPASSWORD_TEST = 
PGDATABASE_TEST = 
PGHOST_TEST = 127.0.0.1
PGDIALECT_TEST = postgres

module.exports = env