/** @format */
body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: calc(100vh - 60px);
}
  #headerPopup{
    width:75%;
    margin:0 auto;
  }
  
  #headerPopup iframe{
    width:100%;
    margin:0 auto;
  }

  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #fbff00;
  }
  
  .wrapper {
    margin-top: 100px;
    margin-bottom: auto;
  }
  
  .form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
  }
  
  .form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
  }
  
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
  
  input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;  /* 16:9 Aspect Ratio */
    margin-top: 20px;     /* Add top margin */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  body.bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.2); /* Transparent black background */
  }
 
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 5px;
  }
}