/** @format */
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

.search-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
}

.input-group {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.zoom-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.zoom-label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.zoom-slider {
  width: 100px;
}
  #headerPopup{
    width:75%;
    margin:0 auto;
  }
  
  #headerPopup iframe{
    width:100%;
    margin:0 auto;
  }
  
  a {
    color: #fbff00;
  }
  
  .wrapper {
    margin-top: 100px;
    margin-bottom: auto;
  }
  
  .form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
  }
  
  .form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
  }
  
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
  
  input[type="text"] {
    margin-bottom: 0px;
  }
  
  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;  /* 16:9 Aspect Ratio */
    margin-top: 20px;     /* Add top margin */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  body.bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.2); /* Transparent black background */
  }
 
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.table {
  margin-top: 20px
}

.table-responsive {
  margin: 0px 0px 0px;
}

.table-title{
  position: sticky;
  padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 13px 67px 4px;
	min-width: 100%;
	margin: -4px 0px 0px;
	border-radius: 3px 3px 0 0;
}

.table-title .btn.btn-success {
	margin: 5px 0 20px;
  float: right;
}

thead tr th {
  background: #435d7d !important;
  color: #fff !important;
  text-align: center;
  vertical-align: middle;
  border: oldlace 1px solid;
  /* Add other styles as needed */
}

/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	

.modal .form-group {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 5px;
  }

  .table-title {
    background: #435d7d;
    color: #fff;
    min-width: 100%;
    margin: -4px 0px 0px;
    border-radius: 3px 3px 0 0;
  }
}

@media (max-width: 1024px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 7px;
  }

  .table-responsive {
    margin: 0px 0px 0px 0px;
  }

  .table-title {
    background: #435d7d;
    color: #fff;
    padding-bottom: 3px;
    padding-top:0px;
    padding: 15px 15px 2px;
    min-width: 100%;
    margin: -10px 0px 0px;
    border-radius: 3px 3px 0 0;
  }

  .table-wrapper {
    background: #fff;
    padding: 10px 12px 0px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }

  .table {
    margin-top: 15px
  }

  .table-title .btn.btn-success {
    margin: 0px 0 10px;
    float: left;
  }
  
}