<%- include('../partials/header')  %>
<body class="bg-transparent-black">
  <%- include('../partials/navbar')  %>
  <div class="iframe-container">
    <iframe class="responsive-iframe" src="<%= url %>" allowfullscreen autoplay></iframe>
  </div>
</body>