<%- include('../partials/header')  %>
  <body>
    <%- include('../partials/navbar')  %>
    <div style="text-align: center;">
        <iframe src="<%= url %>" width="1080" height="720" allowfullscreen autoplay></iframe>
      </div>
  </body>