<%- include('../partials/header')  %>
<body class="bg-transparent-black" style="padding-top: 29px;">
  <%- include('../partials/navbar')  %>
  <div class="iframe-container">
    <iframe class="responsive-iframe" src="<%= url %>" allowfullscreen autoplay type="video/mp4"></iframe>
  </div>