<%- include('../partials/header')  %>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid d-flex align-items-center">
          <a class="navbar-brand" href="#navbar">
              <img src="/img/logo_unnes.png" 
              alt="" 
              width="18" 
              height="18" 
              class="d-inline-block align-text-top">
              UNNES-CCTV
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <form action="/admin-map" method="get">
                          <button class="btn" type="submit">Map</button>
                      </form>
                  </li>
                  <li class="nav-item">
                      <form action="/cctvdashboard/cctv" method="get">
                          <button class="btn" type="submit">Kelola CCTV</button>
                      </form>
                  </li>
                  <li class="nav-item">
                      <form action="/cctvdashboard/cctvgedung" method="get">
                          <button class="btn" type="submit">Kelola Denah Gedung</button>
                      </form>
                  </li>
                  <li class="nav-item">
                      <form action="/login" method="get">
                          <button class="btn" type="submit">Login</button>
                      </form>
                  </li>
                  <li class="nav-item">
                      <form action="/logout" method="post">
                          <button class="btn" type="submit">Logout</button>
                      </form>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <div id="map"></div>
    
  </body>

