<%- include('../partials/header')  %>

  <body>
    <%- include('../partials/navbar')  %>
    <div id="map"></div>
    <div class="search-container">
    <div class="input-group mb-3">
      <input type="text" id="searchInput" class="form-control" placeholder="Cari CCTV berdasarkan nama" aria-label="Cari CCTV berdasarkan nama" aria-describedby="button-search">
      <button class="btn btn-outline-secondary" type="button" id="button-search">Cari</button>
    </div>
  </div>
  </body>

